<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>毕业设计</title>
</head>
<link rel="stylesheet" href="bilibili_top\bilibili_xm/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<style>
body{
margin: 25px;
}
.col-md-2{
color: #20D8DA;
}
h4{
    height:30px;
    text-align: auto;
    border: 1px solid #000;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}
</style>
<body>

<div class="row" style="height: 20px"></div>
<h4 class="bg-primary">全站</h4>
<div class="row">
    <div class="col-md-2">
        <div class="thumbnail">
                <img src="bilibili_top\bilibili_xm/static/images/01.jpg" alt="..." style="height: 125px">
                <div class="caption">
                <h4 >标题</h4>
                <p>总合评分</p>
                </div>
                </div>
    </div>
    <div class="col-md-2">全站</div>
    <div class="col-md-2">全站</div>
    <div class="col-md-2">全站</div>
    <div class="col-md-2">全站</div>
    <div class="col-md-2">全站</div>
</div>
<h4>番剧</h4>
<div class="row">
    <div class="col-md-2">番剧</div>
    <div class="col-md-2">番剧</div>
    <div class="col-md-2">番剧</div>
    <div class="col-md-2">番剧</div>
    <div class="col-md-2">番剧</div>
    <div class="col-md-2">番剧</div>
</div>
<h4>音乐</h4>
<div class="row">
    <div class="col-md-2">音乐</div>
    <div class="col-md-2">音乐</div>
    <div class="col-md-2">音乐</div>
    <div class="col-md-2">音乐</div>
    <div class="col-md-2">音乐</div>
    <div class="col-md-2">音乐</div>
</div>
<h4>游戏</h4>
<div class="row">
    <div class="col-md-2">游戏</div>
    <div class="col-md-2">游戏</div>
    <div class="col-md-2">游戏</div>
    <div class="col-md-2">游戏</div>
    <div class="col-md-2">游戏</div>
    <div class="col-md-2">游戏</div>
</div>
<h4>美食</h4>
<div class="row">
    <div class="col-md-2">美食</div>
    <div class="col-md-2">美食</div>
    <div class="col-md-2">美食</div>
    <div class="col-md-2">美食</div>
    <div class="col-md-2">美食</div>
    <div class="col-md-2">美食</div>
</div>
<h4>鬼畜</h4>
<div class="row">
    <div class="col-md-2">鬼畜</div>
    <div class="col-md-2">鬼畜</div>
    <div class="col-md-2">鬼畜</div>
    <div class="col-md-2">鬼畜</div>
    <div class="col-md-2">鬼畜</div>
    <div class="col-md-2">鬼畜</div>
</div>

<script src="bilibili_top\bilibili_xm/static/bootstrap-3.3.7-dist/jquery/jquery-2.2.4.min.js"></script>
<script src="bilibili_top\bilibili_xm/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</body>
</html>